.page.theme_dark {
  --accent-color: #ff0070;
  --background-color: #00183F;
  --title-color: #db00ff;
  --print-color: #f1b2ce;
  --header-color: #000028;
  --decor-color: #ff0070;
  --hover-color: #ff007066;
  --display: visible;
  --background-image: url(../images/cover-image-dark.png);
}

.header__decor-theme_dark::before {
  content: "REC";
  display: var(--display, visible);
  position: absolute;
  color: var(--accent-color, #ff0070);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  inset-inline-end: 40px;
  inset-block-start: 10px;
}

.header__decor-theme_dark::after {
  content: "";
  display: var(--display, visible);
  position: absolute;
  background-color: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color, #ff0070);
  inset-inline-end: 20px;
  inset-block-start: 18px;
}

@media (768px <= width) {
  .header__decor-theme_dark::before {
    inset-inline-end: 50px;
    inset-block-start: 20px;
  }

  .header__decor-theme_dark::after {
    inset-inline-end: 30px;
    inset-block-start: 28px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --background-color: #00183F;
    --title-color: #db00ff;
    --print-color: #f1b2ce;
    --decor-color: #ff0070;
    --hover-color: #ff007066;
    --display: visible;
    --background-image: url(../images/cover-image-dark.png);
  }
}